body{
}
#quote-box{
	background-color: yellow;
  	width: 450px;
  	position: fixed; 
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -60%);
}

.text{
	background-color: blue;
	border: solid black 3px;
	text-align: center;
}

.author{
	background-color: red;
	border: solid black 3px;
	text-align: right;
}

.footer{
	background-color: green;
	border: solid black 3px;
	display: flex;
	justify-content: space-between;
}

#new-quote{

}



